/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* ---------- Global ----------*/
.container {
  margin-left:           auto;
  margin-right:          auto;
  width:                 1120px;
}
body, button, input, select, textarea {
  color:                #404040;
  font-family:            Merriweather Web,serif;
  font-size:              16px;
  font-size:              1rem;
  line-height:            1.75;
}

.black-btn, .green-btn, .white-btn {	
    border-radius:        0;
    cursor:               pointer;
    font-family:          Novecento Sans Web,sans-serif;
    font-size:            .9rem;
    line-height:          1;
    padding:              .75rem 1.5rem;
    text-decoration:      none;
    text-transform:       uppercase;
 
	&:hover {
		color:                $color__white-text;
		box-shadow:           none;
		text-shadow:          none;
	}
}
.black-btn {
  background-color: transparent;
  border: 1px solid       $color__black-text;
  color:                  $color__black-text;

  &:hover {
    background:           $color__green-brand;
  }
} 
.green-btn {
  background-color:       $color__green-brand;
  border: 1px solid       $color__white-text;
  color:                  $color__white-text;

  &:hover {
    background: darken(   $color__green-brand, 10%);
  }
}
.white-btn {
  background-color:       transparent;
  border:                 1px solid $color__green-brand;
  color:                  $color__green-brand;

  &:hover {
    background:           $color__green-brand;
  }
}
.page-title {
  font-size:              2.4rem;
  line-height:            1.25;
}
.hentry {
  margin:                 0 0 4.5rem;
}

/* ---------- Front Page ----------*/

.home {
  .home-hero{
    background:           linear-gradient(rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size:      cover,cover;
    height:               100vh;
    display:              flex;
    align-items:          center;
    justify-content:      center;
    width:                100%;
  }
  h2{
    color:                $color__purple-brand;
    line-height:          1.25;
    font-size:            2.4rem;
    font-weight:          400;
    margin-bottom:        3.75rem;
    text-align: center;
    }
}

/* ---------- Shop Page --------------------- */

.post-type-archive-product .page-header {
  text-align:             center;
  border-bottom:          1px dashed #c8c8c8;
  margin-bottom:          3rem;
}
.product-type-list {
  display:                flex;
  font-family:            $font__menu;
  font-size:              1.2rem;
  justify-content:        center;
  list-style-type:        none;
  margin-left:            0;
  padding-left:           0;
  text-transform:         uppercase;
}
.product-type-list li {
  margin:                 0 1.5rem;
}
.product-type-list a {
  color:                  $color__green-brand;
  text-decoration:        none;
}
.product-grid {
  display:                flex;
  flex-wrap:              wrap;
  justify-content:        space-between;
  margin-bottom:          1.5rem;
}
.product-grid-item {
  border:                 1px solid #e1e1e1;
  flex:                   0 1 23%;
  max-width:              23%;
  margin-bottom:          1.5rem;
}
.thumbnail-wrapper {
  background-color:       #e1e1e1;
  height:                 250px;
  overflow:               hidden;
  position:               relative;
}
.product-info {
  text-align:             center;
  font-size:              .9rem;
  padding:                .75rem 1rem;
}
.entry-title {
  background:             $color__white-text;
  color:                  $color__purple-brand;
  display:                inline;
  font-size:              16px;
  font-size:              1rem;
  font-weight:            400;
  font-family:            $font__main;
  letter-spacing:         0;
  line-height:            1.75;
  padding-right:          .25rem;
  text-transform:         none;
}

/* ---------- Do, Eat, Sleep, Wear  --------- */

.tax-product-type .content-area {
  padding-top:            3rem;
  padding-bottom:         3rem;
}
.tax-product-type .page-header {
  text-align:             center;
  border-bottom:          1px dashed #c8c8c8;
  margin-bottom:          3rem;
}
.tax-product-type .taxonomy-description {
  margin:                 2rem auto 3rem;
  max-width:              800px;
}

/* ---------- Single Product  --------- */

.single-product .site-content {
  margin-left:            auto;
  margin-right:           auto;
  width:                  1120px;
}
.single-product .content-area {
  padding-top:            3rem;
  padding-bottom:         3rem;
}
.single-product .hentry {
  display:              flex;
  justify-content:      space-between;
}
.single-product .hentry .product-image-wrapper .product-content-wrapper {
  width:                  48%;
}
.single-product .hentry .product-content-wrapper {
  width:                  48%;
}
.single-product .hentry .entry-title {
  color:                  $color__orange-brand;
  clear:                  both;    
  line-height:            1.25rem;
  margin-bottom:          .5rem;
  font-size:              2.4rem;
  font-family:            $font__menu;   
  font-weight:            bold;
  text-transform:         uppercase;
  letter-spacing:         2px;       
}
.single-product .entry-content {
  text-align:             left;
}
.single-product .hentry .price {
  font-family:            $font__menu;
  font-size:              1.8rem;
  margin-top:             0;
  margin-bottom:          1.5rem;
}
.single-product .social-media-buttons {
  margin:                 1.5rem 0;
}
/* ---------- Journal ----------*/
.page .entry-title {
  color:                  $color__purple-brand;
  margin-top:             0;
  line-height:            1.25rem;
  font-family:            $font__menu;
  font-size:              2.4rem;
  font-weight:            bold;
  margin-bottom:          .5rem;
  text-transform:         uppercase;
}

/* ---------- About Page ----------*/

.page-template-about h2 {
    line-height:          1.25;
    color:                $color__purple-brand;
    font-size:            2.1rem;
    margin-bottom:        1.5rem;  
}
.page-template-about .container {
  text-align:             center;
}
.page-template-about .entry-title {
  color:                  $color__white-text;
  clear:                  both;
  background:             transparent;
  font-size:              3rem;
  font-family:            $font__menu;
  text-transform:         uppercase;
  letter-spacing:         2px;
  font-weight:            bold;
}
.custom-hero {
  background-size:        cover,cover;
  height:                 100vh;
  display:                flex;
  align-items:            center;
  justify-content:        center;
  width:                  100%;
}
.page-template-about .entry-content {
  margin:                 3rem auto;
  max-width:              800px;
  padding-bottom:         10px;
}
/* ---------- Find Us ------------------*/



/* ---------- Website header ----------*/

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  font-family: Novecento Sans Web,sans-serif;
  text-transform: uppercase;
}

/* ---------- Contact Form ----------*/

